*/node_modules
*/build
.idea
node_modules
.vite
.vs
bin
obj

BoxInvites.Front/dist
BoxInvites.Front/src/core/apis/backend/generated/.openapi-generator
BoxInvites.Front/src/core/apis/backend/generated/docs
BoxInvites.Front/src/core/apis/backend/generated/.gitignore
BoxInvites.Front/src/core/apis/backend/generated/.gitkeep
BoxInvites.Front/src/core/apis/backend/generated/.npmignore
BoxInvites.Front/src/core/apis/backend/generated/.openapi-generator-ignore
BoxInvites.Front/src/core/apis/backend/generated/git_push.sh

BoxInvites.Front/openapitools.json
BoxInvites.Front/src/core/api/generated/docs
aspire.config.json
!Deployment/build
ClosVerdeApp.Front/tests/e2e/.env.private
ClosVerdeApp.Front/tests/e2e/cache/
ClosVerdeApp.Front/tests/e2e/test-results/
ClosVerdeApp.Front/tests/e2e/playwright-report/
*.user
ClosVerdeApp.Front/src/core/api/generated/docs
