PLAYWRIGHT_BASE_URL=https://localhost:3000
PLAYWRIGHT_API_BASE_URL=https://localhost:4000
PLAYWRIGHT_KEYCLOAK_AUTHORITY=https://auth.elyspio.fr/realms/clos-verde
PLAYWRIGHT_KEYCLOAK_CLIENT_ID=cv_dev-front
PLAYWRIGHT_KEYCLOAK_LOGIN=
PLAYWRIGHT_KEYCLOAK_PASSWORD=
